[submodule "third-party/lizardbyte-common"]
	path = third-party/lizardbyte-common
	url = https://github.com/LizardByte/lizardbyte-common.git
	branch = master
[submodule "third-party/dockle"]
	path = third-party/dockle
	url = https://github.com/LizardByte/dockle.git
	branch = master
