[submodule "third-party/doxyconfig"]
	path = third-party/doxyconfig
	url = https://github.com/LizardByte/doxyconfig.git
	branch = master
[submodule "third-party/lizardbyte-common"]
	path = third-party/lizardbyte-common
	url = https://github.com/LizardByte/lizardbyte-common.git
	branch = master
